@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1312px;
  --breakpoint-2xl: 1536px;

  --text-xs: 0.625rem; /* 10px  */
  --text-sm: 0.75rem; /* 12px  */
  --text-md: 0.875rem; /* 14px  */
  --text-base: 1rem; /* 16px  */
  --text-lg: 1.125rem; /* 18px  */
  --text-xl: 1.25rem; /* 20px  */
  --text-2xl: 1.5rem; /* 24px  */
  --text-3xl: 2rem; /* 32px  */
  --text-4xl: 2.5rem; /* 40px  */
  --text-5xl: 3rem; /* 48px  */

  --color-licorice: #151515;
  --color-green-ryb: #51aa35;
  --color-sap-green: #408929;
  --color-floral-white: #fdf8f5;
  --color-usafa-blue: #004f97;
  --color-deep-lemon: #ffb91d;
  --color-timberwolf: #ded9d6;
  --color-raisin-black: #222222;
  --color-battleship-grey: #838383;
  --color-pastel-gray: #cbcbcb;
  --color-white-smoke: #f6fbf4;
  --color-silver-chalice: #acacac;
  --color-ash-grey: #b3b3b3;
  --color-quartz: #4b4b4b;
}

@layer components {
  .button-base-style {
    @apply rounded-[5px] text-[20px] font-bold px-7 py-2 duration-300 ease-in-out transition-all;
  }
  .transition-base-style {
    @apply duration-300 ease-in-out transition-all;
  }

  .container {
    @apply px-4;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

:root {
  --background: #ffffff;
  --foreground: #151515;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 1s ease-in-out forwards;
}

a:hover {
  @apply text-green-ryb duration-300 ease-in-out transition-all;
}
